<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Note: Property values are case-insensitive unless otherwise specified.-->
  <appSettings>
    <!-- The browser used to access the site. The value should be one of following: IE32, IE64, Chrome, Firefox.-->
    <add key="Browser" value="Chrome"/>
    <add key="LowestRanking" value="5"/>
    <add key="WaitTime" value="15"/>
    <!--The adopted search engine. Current available values: google, bing.-->
    <add key="SearchEngine" value="bing"/>
  </appSettings>
</configuration>