<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- The browser used to access the site. The value should be one of following: IE32, IE64, Chrome, Firefox.-->
    <add key="Browser" value="Chrome"/>
    <add key="BaseAddress" value="http://officedevcenter-msprod-mirror.azurewebsites.net"/>
    <add key="MSGraphBaseAddress" value="http://msgraph-prod-mirror.azurewebsites.net"/>
    <add key="ScreenShotSavePath" value="\\vkarin05\DevOfficeComTestResult"/>
    <add key="DefaultWaitTime" value="15"/>
    <!--The size of IPad2 (in inches)-->
    <add key="IPad2Size" value="9.7"/>
    <!--IPad2's Screen Resolution Width (in pixels)-->
    <add key="IPad2ScreenResolutionWidth" value="1024"/>
    <!--IPad2's Screen Resolution Height (in pixels)-->
    <add key="IPad2ScreenResolutionHeight" value="768"/>
    <!--IPhone6 plus's Screen Resolution Width (in pixels)-->
    <add key="IPhone6PlusScreenResolutionWidth" value="1920"/>
    <!--IPhone6 plus's Screen Resolution Height (in pixels)-->
    <add key="IPhone6PlusScreenResolutionHeight" value="1080"/>
    <!--The size of IPhone6 Plus (in inches)-->
    <add key="IPhone6PlusSize" value="5.5"/>
  </appSettings>
</configuration>