<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- The browser used to access the site. The value should be one of following: IE32, IE64, Chrome, Firefox.-->
    <add key="Browser" value="Chrome"/>
    <add key="BaseAddress" value="http://officedevcenter-msprod-standby.azurewebsites.net"/>
    <add key="linkCheckerPath" value="D:\Program Files (x86)\LinkChecker\LinkChecker.exe"/>
    <add key="ScreenShotSavePath" value="\\vkarin05\DevOfficeComTestResult"/>
  </appSettings>
</configuration>