<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- The browser used to access the site. The value should be one of following: IE32, IE64, Chrome, Firefox.-->
    <add key="Browser" value="Chrome"/>
    <!-- The root url of the site under test. -->
    <add key="BaseAddress" value="http://officedevcentersite-devxhome.azurewebsites.net"/>
    <!-- The default wait time when finding element.-->
    <add key="DefaultWaitTime" value="15"/>
    <!--The number of retry times-->
    <add key="RetryCount" value="10"/>
    <!--The number of seconds to wait in every retry time-->
    <add key="WaitTime" value="5"/>
    <!-- An absolute or relative path to save the screenshot file.-->
    <!--add key="ScreenShotSavePath" value="\\vkarin05\DevOfficeComTestResult"/-->
  </appSettings>
</configuration>
